.containerInventory{
    border: 15px solid black;
    position: relative;
    top:80px;
    left:370px;
    width: 500px;
    height: 300px;
}
.id{
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;
}
.departmentName{
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;
    position: relative;
    right:60px;
}
.totalEmployees{
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px; 
    position: relative;
    right:55px;
}
.totalSalary{
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px; 
    position: relative;
    right: 35px;
}
.DepartmentActions{
    position: relative;
    top:35px;
}
.saveDepartment{
position: relative;
bottom: 15px;
}
.DeleteDepartment{
    position: relative;
    left:283px;
    bottom: 107px;
}
.UpdateDepartment{
    position: relative;
    right:285px;
    bottom: 85px;

}