
.welcome{
    font-size: 45px;
    text-align: center;
    color: blue;
    position: relative;
    top: 30px;
    
}
.continue{
    
    font-size: 45px;
    text-align: center;
    position: relative;
    top: 75px;
    color: green;
    
}
.hotelfrontMain{
    position :relative;
    top:110px;
    left:245px;
}
.luxury{
    position:relative;
    top:170px;
    left:115px;
    color: black;
    border: 15px solid blue;
}