.container1{
    border: 15px solid black;
    width: 480px;
    height: 340px;
    position: relative;
    top:50px;
    left: 370px;
}

.Id{
    position: relative;
    margin: 20px;
    left: 100px;
}
.RoomNo{
    position: relative;
    margin: 20px;
    left:45px; 
}
.RoomType{
   position: relative;
    margin: 20px; 
    left:34px;
}
.FloorNo{
    position: relative;
    margin: 20px;
    left:53px; 
}
.NoOFbeds{
    position: relative;
    margin: 20px;
    left:30px;   
}
.RoomRate{
   position: relative;
    margin: 20px;
    left:34px;
}
.Action{
    position: relative;
    top:20px;
}
.saveRoom{
    position: relative;
    right:70px;
    bottom: 45px;

}
.DeleteRoom{
    position: relative;
    left:467px;
    bottom: 104px;
    
}
.UpdateRoom{
    position: relative;
    bottom: 34px;
    left:200px;
}
.SubmitForm{
    position: relative;
    right:64px;
    bottom: 24px;
}