.Hotel{
    font-family:'Pacifico', cursive; 
    position: relative;
    top: 20px;
    text-align: center;
    color: blue;
}
.Login{
    font-family:'Pacifico', cursive; 
    position: relative;
    color: green;
    top: 30px;
    text-align: center;
}
.hotelimg{
    position: relative;
    top: 75px;
    left:20px;
    border: 5px solid black;
}
.hotelimg2{
    position: relative;
    top: 75px;
    left:180px;
    border: 5px solid black;
}