.text-center{
    font-family:Arial, Helvetica, sans-serif;
}
.ListOfCustomer{
    position: relative;
    right: 40px;
}
.row{
    position: relative;
    top: 25px;
}
.checkout{
    position: relative;
    top:30px;
}