.LoggedOut{
    font-family:'Pacifico', cursive;
    font-size: 45px;
    text-align: center;
}
.discription{
    font-family:'Pacifico', cursive;
    font-size: 45px;
    text-align: center;
}